<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kashisol.mobilediagnostictool">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RotationVectorActivity"></activity>
        <activity android:name=".GyroscopeActivity" />
        <activity android:name=".GravityActivity" />
        <activity android:name=".OrientationActivity" />
        <activity android:name=".ProximitySensorActivity" />

        <service
            android:name=".util.FetchAddressIntentService"
            android:exported="false" />

        <activity android:name=".LocationActivity" />
        <activity android:name=".CameraTwoActivity" />
        <activity android:name=".PhoneInfoActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".MotionActivity" />
        <activity android:name=".IlluminationActivity" />
        <activity android:name=".SpeakerActivity" />
        <activity android:name=".ScreenCalibrationActivity" />
        <activity android:name=".AllAppsActivity" />
        <activity android:name=".RAMActivity" />
        <activity android:name=".CPUActivity" />
        <activity android:name=".NetworkCheckerActivity" />
        <activity android:name=".BatteryActivity" />
        <activity android:name=".StorageActivity" />
        <activity android:name=".ChooseDiagnosisTypeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>